.container {
  // height: 130vh;
  padding: 0 1.5rem; //mobile
  // background: rgba(233, 233, 233, 0.555);
  // background: #52cca31f;

  padding-top: 2rem;
  margin-bottom: 20px;

  h2 {
    margin-bottom: 2rem;
    color: #52cca3;
    padding: 10px 0;
    margin-bottom: 10px;
    // width: 30%;
    border-bottom: 2px solid #52cca3;
    margin-bottom: 16px;
    color: #52cca3;
  }

  span {
    font-size: 18px !important;
  }

  @media screen and (min-width: 768px) {
    padding: 2rem 2rem;
    // width: 40%;
    // padding: 0;
  }

  @media screen and (min-width: 968px) {
    // font-size: 1.3rem;
    padding: 2rem 4rem;
    // width: 50%;
    // height: 100vh;
  }

  @media screen and (min-width: 1240px) {
    // font-size: 1.3rem;
    padding: 2rem 4rem;
    // width: 40%;
  }

  @media screen and (min-width: 1440px) {
    // font-size: 1.3rem;
    padding: 2rem 16rem;
    // width: 30%;
  }
}

.content {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.cardContent {
  background: black;
  display: flex;
}

.clientContent {
  width: 200px;
  // height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
