.container {
  width: 100%;
  height: 100vh;

  background-image: url("../../assets/background6.png");
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;

  h1, h2{ 
    font-weight: bold;
    color: black;
  }
  font-weight: 700;
}

.content {
  width: 100%;
  height: 30%;
  color: rgb(0, 0, 0);
  position: relative;
  margin: 8rem 0rem;

  border-radius: 5px;

  padding: 1.25rem;

  font-size: 1.1rem;
  font-weight: bold;


  display: flex;
  justify-content: space-between;
  flex-direction: column;


  button {
    width: 150px;
    border: none;
    font-weight: bold;
    background: #52cca3;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 16px;
    color: white;
    transition: 0.2s;

    &:hover {
      background: #FCBD5A;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 1.3rem;
    margin: 12rem 2rem;
    width: 40%;
    padding: 0;
  }

  @media screen and (min-width: 968px) {
    font-size: 1.3rem;
    margin: 12rem 4rem;
    width: 50%;
  }

  @media screen and (min-width: 1240px) {
    font-size: 1.3rem;
    margin: 12rem 4rem;
    width: 40%;
  }

  @media screen and (min-width: 1440px) {
    font-size: 1.3rem;
    margin: 12rem 16rem;
    width: 30%;
  }

  @media screen and (max-width: 768px) {
    width: 60%;
  }

  @media screen and (max-width: 480px) {
    width: 80%;
  }
}

.title {
  width: 300px;
  padding-bottom: 10px;
  border-bottom: 2px solid #52cca3;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 400px;
  }

  div {
    position: absolute;
    top: 50%;
    bottom: 0;
  }
}

.btn {
  align-content: flex-end;
}
