.container {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 130px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  cursor: pointer;
  transition: 0.2s;

  div {
    margin-top: 10px;
  }

  &:hover {
    background: #52cca3;
  }

}
