.bg {
  // height: 100vh;

  background-image: url("../../assets/final-background.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-bottom: 50px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  padding: 0 1.5rem;
  padding-top: 2rem;

  h2 {
    margin: 2rem 0;
    color: #fcbd5a;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .emailHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      input {
        width: 100%;
        padding: 15px 15px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        outline-color: #fcbd5a;

        @media screen and (min-width: 768px) {
          width: 48%;
        }
      }
    }
    .emailText {
      width: 100%;

      textarea {
        width: 100%;
        height: 200px;
        resize: none;
        outline-color: #fcbd5a;
        border-radius: 5px;
        border: none;
        padding: 10px 15px;
      }
      margin-bottom: 30px;
    }

    button {
      width: 50%;
      border: none;
      font-weight: bold;
      background: #52cca3;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      margin-top: 16px;
      color: white;
      transition: 0.3s;

      &:hover {
        background: #fcbd5a;
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding: 2rem 2rem;
  }

  @media screen and (min-width: 968px) {
    padding: 2rem 4rem;
  }

  @media screen and (min-width: 1240px) {
    padding: 2rem 4rem;
  }

  @media screen and (min-width: 1440px) {
    padding: 2rem 16rem;
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 480px) {
  }
}

.content {
  // height: 100vh;
  display: flex;
  flex-direction: row;
}

.cards {
  display: grid;
  column-gap: 4rem;
  row-gap: 4rem;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cardContent {
  color: rgb(68, 68, 68);
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  border-radius: 5px;
  color: rgb(255, 255, 255);

  background: #fcbd5a;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(5, 5, 5, 0.247);
  }
}

.cardImage {
  width: 100%;
  height: 150px;
  position: relative;
}

.teste {
  width: 300px;
  height: 300px;
  background: black;

  &__teste {
    visibility: visible;
  }

  &__closed {
    visibility: hidden;
  }
}

.App {

  &__redText {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__defaultText {
    display: visible;
  }
}
