.container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  // position: absolute;
  // bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: rgba(0, 0, 0, 0.6);
  // background: rgba(255, 255, 255, 0.6);
  padding: 2rem 1.5rem;

  @media screen and (min-width: 968px) {
    padding: 1rem 4rem;
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
    padding: 1rem 16rem;
    flex-direction: column;
  }
}

.social {
  font-size: 35px;
  color: #52cca3;
  // color: #fcbd5a;
  display: flex;
  padding-bottom: 5px;

  div {
    margin-right: 15px;
    transition: 0.2s;
    &:hover {
      color: #fcbd5a;
    }

    a { 
      transition: 0.2s;
      &:hover {
        color: #fcbd5a;
      }
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.localization {
  font-size: 10px;
  color: rgb(0, 0, 0);
}

.locale {
  .ico {
    display: flex;
    // padding-bottom: 20px;
    color: #52cca3;
    font-size: 25px;
    padding-right: 10px;

    span { 
      padding-bottom: 15px;
    }

    .localeContent {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding-left: 10px;
      color: rgb(27, 27, 27);
    }
  }

  p {
    color: #52cca3 !important;
    font-size: 20px !important;
  }
}

.copyright {
    
  width: 100%;
  height: 30px;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #52cca3 !important;

}
