.container {
  overflow: hidden;
  height: 110px;
  width: 100%;
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  // background: rgba(255, 255, 255, 0.6);
  padding: 0 1.5rem;

  @media screen and (min-width: 968px) {
    padding: 0 4rem;
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
    padding: 0 16rem;
  }
}

.social {
  font-size: 35px;
  color: #52cca3;
  display: flex;
  padding-bottom: 5px;

  div {
    margin-left: 15px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: #fcbd5a;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.localization {
  font-size: 10px;
  color: rgb(211, 211, 211);
}

.locale {
  .ico {
    display: flex;
    padding-bottom: 5px;
    color: #52cca3;
    font-size:25px;
    padding-right: 10px;

    .localeContent {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding-left: 10px;
      color: rgb(211, 211, 211);
    }
  }
}
