

.container {
  // height: 2000px;
  padding: 0 1.5rem; //mobile
  background: rgba(233, 233, 233, 0.555);
  // background: #52cca31f;

  padding-top: 2rem;

  h2 {
    margin-bottom: 2rem;
    // margin-bottom: 1px solid black !important;
    color: #FCBD5A;
    
  }

  .contentTitle { 
    margin: 1px solid black !important;
  }

    @media screen and (min-width: 768px) {
    // font-size: 1.3rem;
    padding: 2rem 2rem;
    // height: 100vh;
    // width: 40%;
    // padding: 0;
  }

  @media screen and (min-width: 968px) {
    // font-size: 1.3rem;
    padding: 2rem 4rem;
    // width: 50%;
  }

  @media screen and (min-width: 1240px) {
    // font-size: 1.3rem;
    padding: 2rem 4rem;
    // width: 40%;
  }

  @media screen and (min-width: 1440px) {
    // font-size: 1.3rem;
    padding: 2rem 16rem;
    // width: 30%;
  }

  @media screen and (max-width: 768px) {
    // width: 60%;
    // height: 1030px;
  }

  @media screen and (max-width: 600px) {
    // width: 80%;
    // height: 100vh;
    height: 2000px;
  }
}

.cards {
  display: grid;
  column-gap: 4rem;
  row-gap: 2rem;
  
  // grid-template-columns: repeat(3, 1fr);

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Screen larger than 900px? 3 columns */
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.cardTitle {
  width: 100%;
  height: 100px;
  padding: 0 10px;
  // background: rgb(164, 185, 184);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent {
  color: rgb(68, 68, 68);
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 155px;
  border-radius: 5px;
  color: rgb(255, 255, 255);

  background: #FCBD5A;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(5, 5, 5, 0.247);
  }
  

}

.cardImage {
  width: 100%;
  height: 150px;
  position: relative;
}
